acres==0.3.0
annotated-types==0.7.0
antspyx==0.5.4
anyio==4.9.0
appnope==0.1.4
APScheduler==3.11.0
arrow==1.3.0
asttokens==3.0.0
attrs==25.3.0
bids-validator==1.14.7.post0
bidsschematools==1.0.5
bokeh==3.6.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
codecarbon==3.0.1
comm==0.2.2
contourpy==1.3.2
cryptography==44.0.3
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
docker==7.1.0
docopt==0.6.2
etelemetry==0.3.1
executing==2.2.0
fief-client==0.20.0
filelock==3.18.0
fmriprep==25.0.0
fmriprep-docker==25.0.0
fonttools==4.57.0
formulaic==1.1.1
frozendict==2.4.6
fsspec==2025.3.2
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httpx==0.27.2
idna==3.10
imageio==2.37.0
indexed_gzip==1.9.4
interface-meta==1.3.0
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isodate==0.6.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.14
jwcrypto==1.5.6
kiwisolver==1.4.8
latexcodec==3.0.0
lazy_loader==0.4
lockfile==0.12.2
looseversion==1.3.0
lxml==5.3.2
mapca==0.0.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
migas==0.4.0
monai==1.4.0
mpmath==1.3.0
narwhals==1.38.0
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nilearn==0.11.1
nipype==1.10.0
nireports==25.0.1
nitime==0.11
nitransforms==24.1.1
niworkflows==1.13.1
num2words==0.5.14
numpy==1.26.4
nvidia-ml-py==12.575.51
packaging==25.0
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.7
plotly==6.0.1
prometheus_client==0.21.1
prompt_toolkit==3.0.51
prov==2.0.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.29
py-cpuinfo==9.0.0
pybids==0.19.0
pybtex==0.24.0
pybtex-apa-style==1.3
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pydot==4.0.0
Pygments==2.19.1
pynvml==12.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
questionary==2.1.0
RapidFuzz==3.13.0
rdflib==6.3.2
referencing==0.36.2
requests==2.32.3
rich==14.0.0
robustica==0.1.4
rpds-py==0.24.0
schemdraw==0.20
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
sdcflows==2.12.0
seaborn==0.13.2
setuptools==79.0.0
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smriprep==0.17.0
sniffio==1.3.1
SQLAlchemy==2.0.40
stack-data==0.6.3
statsmodels==0.14.4
svgutils==0.3.4
sympy==1.13.1
tedana==25.0.0
templateflow==24.2.2
termcolor==2.3.0
threadpoolctl==3.6.0
tifffile==2025.3.30
toml==0.10.2
torch==2.6.0
torchaudio==2.6.0
torchcam==0.4.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transforms3d==0.4.2
typer==0.15.3
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
umap==0.1.1
universal_pathlib==0.2.6
urllib3==2.4.0
wcwidth==0.2.13
webcolors==24.11.1
wget==3.2
widgetsnbextension==4.0.14
wrapt==1.17.2
xyzservices==2025.4.0
yaspin==3.1.0
